/* :root  > * {
    --md-primary-fg-color:        #003594;
    --md-primary-fg-color--light: #FFB81C;
    --md-primary-fg-color--dark:  #90030C;
  } */
   /* https://www.brand.pitt.edu/visual-identity/color-palettes */